@charset "utf-8";

/* ヘッダー */
#header {
    margin-top: 2rem;
}

/* パンくずリスト */
#breadcrumbs > li {
    display: inline-block;
}

#breadcrumbs > li:not(:last-child):after {
    content: ">";
}

/* メイン */
.row {
    align-items: center;
}

p.row {
    margin-bottom: 0.5rem;
}

span.column {
    text-align: center;
}

[type=number] {
    ime-mode: disabled;
}

/* フッター */
#footer {
    margin-bottom: 2rem;
    text-align: center;
}

/* 連絡先 */
#address {
    display: inline-block;
    font-size: 80%;
    font-style: normal;
}
